@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");
body {
  font-family: "Gabriola", serif;
  font-size: 14px;
}

h1 {
  margin-top: 0;
}

h1, .info_title {
  font-family: "timberline", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 65px;
}

@media screen and (max-width: 1024px) {
  h1, .info_title {
    font-size: 45px;
  }
}
@media screen and (max-width: 425px) {
  h1, .info_title {
    font-size: 35px;
  }
}
/*
@mixin {
  }*/
header {
  background-color: #6d1832;
  opacity: 0.77;
  display: flex;
  justify-content: space-between;
  padding: 0 2% 0 2%;
  font-size: 65px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.brandname {
  color: #b6fcec;
}

.nav {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.apropos {
  color: #fc02ff;
}

.cupcakes {
  color: #ffdbe6;
}

.glaces {
  color: #b6eafc;
}

.donuts {
  color: #fff700;
}

@media screen and (max-width: 425px) {
  .brandname {
    font-size: 37px;
  }
}
@media screen and (max-width: 768px) {
  header {
    background-color: #ffffff;
    font-size: 45px;
  }

  .brandname {
    color: #6d1832;
  }

  .nav {
    display: none;
  }

  .nav_mobile {
    height: 40px;
    width: 40px;
    background-color: #6d1832;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    margin: auto;
    left: 67%;
  }

  .menu {
    background-color: #ffdbe6;
    height: 6%;
    width: 60%;
    margin-top: 3%;
    margin-bottom: 1%;
    z-index: 1;
  }
}
@media screen and (max-width: 1024px) {
  header {
    font-size: 45px;
  }
}
footer {
  background-color: #82402e;
  color: #fff700;
  display: flex;
  justify-content: flex-end;
  font-size: 35px;
}

footer div {
  margin-right: 10%;
}

@media screen and (max-width: 425px) {
  footer {
    font-size: 15px;
  }
}
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

.welcome_background {
  background-image: url("./../images/lady_candy.jpeg");
  display: flex;
  justify-content: center;
}

.welcome {
  background: radial-gradient(white, #ffdbe6);
  opacity: 0.87;
  position: absolute;
  bottom: 0;
  padding: 0 2% 0 2%;
  font-size: 65px;
  color: #6d1832;
}

.welcome p {
  margin: 0;
  text-align: center;
}

.cupcakes_background {
  background-image: url("./../images/cupcakes.jpeg");
  color: #ffdbe6;
  text-align: center;
}

.img {
  position: absolute;
  width: 18%;
}

.glaces_background {
  background-image: url("./../images/glaces.jpeg");
  color: #b6eafc;
}

.glaces_background h1 {
  text-align: center;
}

.glaces_background img {
  margin-left: 4%;
}

.donuts_background {
  background-image: url("./../images/donuts.jpeg");
  color: #fff700;
  position: relative;
}

.donuts_background img {
  right: 0;
  bottom: 0;
}

.donuts_background h1 {
  margin-right: 8%;
  text-align: right;
}

.pain_epices_background {
  background-image: url("./../images/pain_epices.jpeg");
  text-align: center;
  color: #ffffff;
}

.infos {
  display: flex;
}

.infos > div {
  margin-left: 5%;
}

.info_title {
  color: #6d1832;
  margin: 0;
}

.info {
  font-size: 45px;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .img {
    width: 40%;
  }
}
@media screen and (max-width: 768px) {
  .welcome {
    font-size: 45px;
  }

  .img {
    width: 50%;
  }

  .glaces_background img {
    margin-left: 25%;
  }

  .donuts_background h1 {
    margin-right: 0;
    text-align: center;
  }

  .infos {
    flex-direction: column;
    text-align: left;
  }

  .info {
    font-size: 35px;
  }
}
@media screen and (max-width: 425px) {
  .info {
    font-size: 15px;
  }

  .welcome {
    font-size: 26px;
  }

  .donuts_background img {
    display: none;
  }

  .pain_epices_background h1 {
    margin-bottom: 0;
  }
}
.screen {
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

@media screen and (max-width: 425px) {
  .screen {
    height: 65vh;
  }
}
.arrow {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 2%;
  position: relative;
  top: 25%;
}

.rectangle {
  width: 180px;
  height: 60px;
  border-radius: 33px;
  background: linear-gradient(#a624a5, #e082c0, #a624a5);
}

.triangle {
  width: 50px;
  height: 50px;
  border-radius: 25px 25px 144px 25px;
  rotate: 140deg;
  margin-left: -37px;
  background: linear-gradient(39deg, #a624a5, #e082c0, #a624a5);
}

.rectangle p {
  font-size: 39px;
  margin: auto;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .arrow {
    margin: 0;
    top: 54%;
    justify-content: center;
  }
}
@media screen and (max-width: 425px) {
  .arrow {
    top: 50%;
  }
}

/*# sourceMappingURL=app.css.map */
