$Brandname: #b6fcec; 
$Brown: #82402e;
$Fuschia: #fc02ff;
$Dark-pink: #6d1832;
$Light-pink: #ffdbe6;
$Light-blue: #b6eafc;
$Yellow: #fff700;
$White: #ffffff;
$Purple: #a624a5;
$Purple-light: #e082c0;

