.screen {
 
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

@media screen and (max-width: 425px) {
    .screen {
        height: 50vh;
    }
}